@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Inter",
    sans-serif;
  --font-secondary: "Instrument Serif",
    serif;
}

@layer base {
  body {
    font-family: var(--font-primary);
    background-color: #000000;
    color: #ffffff;
  }

  button {
    cursor: pointer;
  }


  /* Drop-cap styles */
  .drop-cap-standard::first-letter {
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin-right: 0.15em;
    margin-top: 0.05em;
    line-height: 0.8;
  }

  .drop-cap-large::first-letter {
    font-size: 4.5em;
    font-weight: bold;
    float: left;
    margin-right: 0.15em;
    margin-top: 0.05em;
    line-height: 0.8;
  }

  .drop-cap-huge::first-letter {
    font-size: 6em;
    font-weight: bold;
    float: left;
    margin-right: 0.15em;
    margin-top: 0.05em;
    line-height: 0.8;
  }

}
